<%# main div %>
<div class="main-div">
    
    <%# div of icon %>
    <div class='left-container'>

        <div class='email-image-container'>
            <%= image_tag('mail-icon.png') %>
        </div>
        
        <div class='email-text-container'>
            <h4>Welcome to <br> My Blog</h4>
        </div>

    </div>

    <%# div of login %>
    <div class='right-container'>
        <%# email %>
        <div></div>
        <%# password %>
        <div></div>
        <%# login button %>
        <div>
            <button class="login-button">Button</button>
        </div>
        <%# reset password %>
        <div></div>

    </div>
</div>